[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.19.2"
Flask = "==2.0.3"
Flask-Cors = "==3.0.10"
Flask-RESTful = "==0.3.9"
pymongo = {extras = ["srv"], version = "*"}
marshmallow = "*"
google-api-python-client = "==2.45.0"
google_auth_oauthlib = "==0.5.1"
dialogflow-fulfillment = "*"
mlxtend = "*"

[dev-packages]

[requires]
python_version = "3.9"
